<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DictionaryFile" value="H:\EMI\Projects\Safarifone\DiameterStack\DiameterStack\Dictionary.xml"/>
    <add key="OrigionHost" value="127.0.0.1"/>
    <add key="OrigionRealm" value="127.0.0.1"/>
    <add key="HostIP" value="127.0.0.1"/>
    <add key="LocalPort" value="3868"/>
    <add key="ListenAddresses" value="127.0.0.1:3686;127.0.0.1:5588;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
